In [41]:
import numpy as np
import pandas as pd

from matplotlib import pyplot as plt

from sklearn.model_selection import train_test_split

from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import load_model

In [42]:
data = pd.read_csv('churn_prediction.csv')

In [43]:
data.head()

,customer_id,vintage,age,gender,dependents,occupation,city,customer_nw_category,branch_code,days_since_last_transaction,...,previous_month_end_balance,average_monthly_balance_prevQ,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance,churn
0,1,3135,66,Male,0.0,self_employed,187.0,2,755,224.0,...,1458.71,1458.71,1449.07,0.20,0.20,0.20,0.20,1458.71,1458.71,0
1,2,310,35,Male,0.0,self_employed,NaN,2,3214,60.0,...,8704.66,7799.26,12419.41,0.56,0.56,5486.27,100.56,6496.78,8787.61,0
2,4,2356,31,Male,0.0,salaried,146.0,2,41,NaN,...,5815.29,4910.17,2815.94,0.61,0.61,6046.73,259.23,5006.28,5070.14,0
3,5,478,90,NaN,NaN,self_employed,1020.0,2,582,147.0,...,2291.91,2084.54,1006.54,0.47,0.47,0.47,2143.33,2291.91,1669.79,1
4,6,2531,42,Male,2.0,self_employed,1494.0,3,388,58.0,...,1401.72,1643.31,1871.12,0.33,714.61,588.62,1538.06,1157.15,1677.16,1

In [44]:
data.dtypes

customer_id                         int64
vintage                             int64
age                                 int64
gender                             object
dependents                        float64
occupation                         object
city                              float64
customer_nw_category                int64
branch_code                         int64
days_since_last_transaction       float64
current_balance                   float64
previous_month_end_balance        float64
average_monthly_balance_prevQ     float64
average_monthly_balance_prevQ2    float64
current_month_credit              float64
previous_month_credit             float64
current_month_debit               float64
previous_month_debit              float64
current_month_balance             float64
previous_month_balance            float64
churn                               int64
dtype: object

In [45]:
data.drop("customer_id", axis= 1, inplace= True)

In [46]:
#data.age.replace([0, 1], ["No", "Yes"], inplace= True)

In [47]:
data.previous_month_balance = data.previous_month_balance.astype(float)

In [48]:
for charge in data.previous_month_balance:
    try:
        charge = float(charge)
    except:
        print("charge is: %s" % charge)

In [49]:
for i in range(len(data)):
  if data.previous_month_balance[i] == " ":
      print("Tenure is %s and Monthly charges are %s" % (data.occupation[i], data.current_month_balance[i]))

In [50]:
for col in data.dtypes[data.dtypes == object].index:
    print(col, data[col].unique())

gender ['Male' nan 'Female']
occupation ['self_employed' 'salaried' 'retired' 'student' nan 'company']

In [51]:
data = pd.get_dummies(data)

In [52]:
X = data.drop("churn", axis= 1)
y = data.churn

In [53]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2, random_state= 101)

In [54]:
model = Sequential()
model.add(Dense(16, input_dim=X_train.shape[1], activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [55]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [56]:
model.fit(X_train, y_train, epochs=10, batch_size=10)

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>
Train on 22705 samples
Epoch 1/10
22705/22705 [==============================] - 4s 154us/sample - loss: nan - accuracy: 0.8151
Epoch 2/10
22705/22705 [==============================] - 3s 151us/sample - loss: nan - accuracy: 0.8153
Epoch 3/10
22705/22705 [==============================] - 3s 151us/sample - loss: nan - accuracy: 0.8153
Epoch 4/10
22705/22705 [==============================] - 3s 153us/sample - loss: nan - accuracy: 0.8153
Epoch 5/10
22705/22705 [==============================] - 3s 152us/sample - loss: nan - accuracy: 0.8153
Epoch 6/10
22705/22705 [==============================] - 3s 152us/sample - loss: nan - accuracy: 0.8153
Epoch 7/10
22705/22705 [==============================] - 4s 156us/sample - loss: nan - accuracy: 0.8153
Epoch 8/10
22705/22705 [==============================] - 3s 154us/sample - loss: nan - accuracy: 0.8153
Epoch 9/10
22705/22705 [==============================] - 4s 160us/sample - loss: nan - accuracy: 0.8153
Epoch 10/10
22705/22705 [==============================] - 4s 171us/sample - loss: nan - accuracy: 0.8153

In [57]:
_, accuracy = model.evaluate(X_test, y_test)

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>
5677/5677 [==============================] - 0s 29us/sample - loss: nan - accuracy: 0.8120